In [26]:
import pandas as pd

In [58]:
data=pd.read_csv('error_analysis_data_set.csv')

In [59]:
data.head()

,user_id,voting,order_sd,active_days,lastgap,avg_gap,min_gap,max_gap,w1_total_orders,w2_total_orders,...,dummy_like_num,dummy_has_kitchen_info,dummy_staple_price,comment_perc,pca_1,pca_2,pca_3,pca_4,pca_5,cluster
0,100372450,1,0.281963,6,10.0,10.200000,3.0,21.0,1.0,1.0,...,1.0,1,1,0.0,3.409103,-0.149396,1.754331,-3.435309,1.308357,0
1,101421318,0,0.119523,1,100.0,100.000000,100.0,100.0,0.0,0.0,...,0.0,0,0,0.0,-3.461943,-4.122877,-4.930299,3.696131,1.864631,3
2,101268720,0,0.302166,7,4.0,7.833333,1.0,36.0,4.0,1.0,...,1.0,1,1,0.0,4.748548,1.475891,1.883121,1.038071,-3.252782,0
3,100495757,0,0.119523,1,100.0,100.000000,100.0,100.0,0.0,1.0,...,1.0,1,1,0.0,-4.066705,-4.468919,1.303573,0.074750,3.000592,3
4,100372886,0,0.119523,1,100.0,100.000000,100.0,100.0,1.0,0.0,...,1.0,1,1,0.0,-3.322859,-3.956791,4.966979,2.133271,0.883639,3

In [60]:
data_falsenegative=data[(data['voting']==0)&(data['label']==1)]

In [61]:
data_truepositive=data[(data['voting']==1)&(data['label']==1)]

In [62]:
data_falsepositive=data[(data['voting']==1)&(data['label']==0)]

In [63]:
data_truenegative=data[(data['voting']==0)&(data['label']==0)]

In [64]:
daily=pd.read_csv('feature_engineering0212.csv')

/Applications/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
daily.loc[daily['user_id'].isin(data_falsenegative.user_id.tolist()),'class']='false negative'

In [66]:
daily.loc[daily['user_id'].isin(data_truepositive.user_id.tolist()),'class']='true positive'

In [67]:
daily.loc[daily['user_id'].isin(data_falsepositive.user_id.tolist()),'class']='false positive'

In [68]:
daily.loc[daily['user_id'].isin(data_truenegative.user_id.tolist()),'class']='true negative'

In [69]:
daily=daily[pd.notnull(daily['class'])]

In [70]:
cols=daily.filter(like='count', axis=1).columns.tolist()

In [71]:
cols.append('class')

In [72]:
#daily[cols].to_csv('error_daily.csv',index=False)
temp=daily[cols]

In [88]:
dates=[]
counts=[]
classes=[]

In [89]:
for date in daily.filter(like='count', axis=1).columns.tolist():
    for c in ['false negative','true positive','false positive','true negative']:
        dates.append(date)
        classes.append(c)
        counts.append(temp[temp['class']==c][date].sum()/len(temp[temp['class']==c]))

In [90]:
final=pd.DataFrame(columns=['date','count','class'])

In [91]:
final['date']=dates
final['count']=counts
final['class']=classes

In [92]:
final.to_csv('error_daily.csv',index=False)