In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('new_dataset_w9_final.csv')

In [3]:
data_user=pd.read_csv('feature_engineering0212.csv')

/Applications/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
len(data)

191855

In [5]:
len(data_user)

191855

In [6]:
data['user_id']=data_user['user_id']

In [9]:
data.head()

,order_sd,active_days,lastgap,avg_gap,min_gap,max_gap,w1_total_orders,w2_total_orders,w3_total_orders,w4_total_orders,...,dummy_log_send2update_time_max,log_send2update_time_max,kitchen_royalty,staple_price,like_num,dummy_like_num,dummy_has_kitchen_info,dummy_staple_price,comment_perc,user_id
0,0.663138,10,3.0,4.888889,1.0,12.0,4.0,2.0,2.0,6.0,...,1.0,11.227614,1.875000,2.0,11.0,1.0,1,1,0.250000,100002020
1,0.602960,18,7.0,2.941176,1.0,11.0,8.0,5.0,3.0,1.0,...,1.0,11.297663,1.833333,1.0,0.0,0.0,1,1,0.227273,100002033
2,0.391684,13,5.0,4.500000,2.0,12.0,3.0,2.0,2.0,1.0,...,1.0,11.237844,2.600000,2.0,116.0,1.0,1,1,0.923077,100002035
3,0.337142,9,5.0,8.625000,1.0,53.0,2.0,0.0,0.0,0.0,...,1.0,11.244497,2.250000,3.0,40.0,1.0,1,1,0.000000,100002036
4,0.535490,12,5.0,3.454545,1.0,6.0,0.0,0.0,0.0,2.0,...,1.0,11.235207,1.363636,2.0,0.0,0.0,1,1,0.800000,100002040

In [10]:
data_gap=pd.read_csv('gap.csv')

In [11]:
data=pd.merge(data,data_gap,how='left',on='user_id')

In [15]:
data[(data['gap']!=100) & (data['label']==0)]

Empty DataFrame
Columns: [order_sd, active_days, lastgap, avg_gap, min_gap, max_gap, w1_total_orders, w2_total_orders, w3_total_orders, w4_total_orders, w5_total_orders, w6_total_orders, w7_total_orders, label, first_order, last_order, accountLength, overall_time_mean, update2create_time_mean, send2update_time_mean, overall_time_min, update2create_time_min, send2update_time_min, overall_time_max, update2create_time_max, send2update_time_max, intime_rate, last_coupon_fee, last_send_type, order_nums, city_id, sex, age, login_platform_b, app_version_b, age_na, lastgap_na, avg_gap_na, min_gap_na, max_gap_na, overall_time_mean_na, update2create_time_mean_na, send2update_time_mean_na, overall_time_min_na, update2create_time_min_na, send2update_time_min_na, overall_time_max_na, update2create_time_max_na, send2update_time_max_na, w1_avg_couponworth, w2_avg_couponworth, w3_avg_couponworth, w4_avg_couponworth, w5_avg_couponworth, w6_avg_couponworth, w7_avg_couponworth, w1_max_couponworth, w2_max_couponworth, w3_max_couponworth, w4_max_couponworth, w5_max_couponworth, w6_max_couponworth, w7_max_couponworth, log_order_sd, log_active_days, log_total_orders, log_w1_total_orders, log_w2_total_orders, log_w3_total_orders, log_w4_total_orders, log_w5_total_orders, log_w6_total_orders, log_w7_total_orders, log_first_order, log_last_order, log_accountLength, log_overall_time_mean, log_overall_time_min, log_overall_time_max, log_intime_rate, log_last_coupon_fee, log_order_nums, log_w1_avg_couponworth, log_w2_avg_couponworth, log_w3_avg_couponworth, log_w4_avg_couponworth, log_w5_avg_couponworth, log_w6_avg_couponworth, log_w7_avg_couponworth, log_w1_max_couponworth, log_w2_max_couponworth, log_w3_max_couponworth, log_w4_max_couponworth, log_w5_max_couponworth, log_w6_max_couponworth, log_w7_max_couponworth, dummy_log_lastgap, log_lastgap, dummy_log_avg_gap, log_avg_gap, ...]
Index: []

[0 rows x 125 columns]

In [20]:
data=data.drop('label',1)

In [21]:
data.to_csv('regression_data.csv',index=False)