In [1]:
import pandas as pd

In [20]:
data_user=pd.read_csv('userInfo.csv',dtype={'age':str})

In [22]:
data_user.head()

,Unnamed: 0,user_id,city_id,sex,age,occupation,invite_id,invite_code,login_platform,last_login,app_version,create_time
0,0,100002020,0,1,80.0,互联网,0,9828.0,Android,2016-07-04 17:53:27.0,2.8.2,2014-09-25 08:43:55.0
1,3,100002023,0,2,80.0,公司员工,0,7262.0,iOS,2016-01-23 10:50:37.0,2.4.6,2014-09-25 11:32:21.0
2,4,100002024,0,1,90.0,程序员,0,5723.0,iOS,2017-03-07 18:16:19.0,3.3.0,2014-09-25 14:54:44.0
3,13,100002033,0,0,NaN,NaN,0,6126.0,iOS,2017-05-12 00:42:20.0,3.5.0,2014-09-25 23:55:48.0
4,14,100002034,0,0,NaN,NaN,0,6665.0,iOS,2015-12-21 18:01:17.0,2.4.2,2014-09-26 08:01:30.0

In [23]:
len(data_user)

473628

In [24]:
len(data_user.user_id.unique())

473628

In [25]:
data_user.city_id.unique()

array([     0, 110000, 110100, 310100, 440100, 440300, 330100, 310000])

In [30]:
data_user['city_id'].value_counts()/473628*100

110100    64.683042
310100    14.546437
440300     9.002846
440100     4.657030
330100     3.592693
0          3.509716
110000     0.007812
310000     0.000422
Name: city_id, dtype: float64

In [21]:
data_user.age.unique()

array(['80.0', '90.0', nan, '70.0', '60.0', '0.0', '90', '80', '70', '60',
       '00', '前', '0', '0后', "00'"], dtype=object)

In [33]:
data_user.occupation.unique()

array(['互联网', '公司员工', '程序员', ..., '证券交易人', '平安保险总监', '好吃的人'], dtype=object)

In [37]:
data_user['login_platform'].value_counts()/473628*100

iOS        68.394816
Android    31.427829
mobile      0.105357
Name: login_platform, dtype: float64

In [38]:
data_order=pd.read_csv('OrderAprtoJun.csv')

/Applications/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (17,18,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [59]:
data_order.head()

,Unnamed: 0,order_no,kitchen_id,user_id,city_id,send_time,send_type,state,state_train,dishes,...,coupon_id,coupon_fee,platform,app_version,update_time,insure,ticket_id,ticket_fee,raw_data,dt
0,0,463044790017929,28366,101296988,110100,2016-05-12 18:30:00.0,1,11,"2,4,6,9,10,11",NaN,...,0,0.0,iOS,2.7.0,2016-05-12 17:55:19.0,1,0,0,NaN,NaN
1,1,463044790017933,17873,101057772,110100,2016-05-12 18:30:00.0,1,11,"2,4,6,8,11",NaN,...,0,0.0,iOS,2.7.0,2016-05-12 18:06:29.0,1,0,0,NaN,NaN
2,2,463044784017918,130952,100789540,110100,2016-05-12 18:30:00.0,1,11,"2,4,6,9,10,11",NaN,...,17155317,8.0,iOS,2.7.0,2016-05-12 17:32:49.0,1,0,0,NaN,NaN
3,3,463044770017889,151016,101057084,440300,2016-05-12 18:30:00.0,1,11,"2,4,6,9,10,11",NaN,...,17164655,8.0,Android,2.7.1,2016-05-12 17:55:12.0,1,0,0,NaN,NaN
4,4,463044778017902,148024,101370266,110100,2016-05-12 18:30:00.0,1,11,"2,4,6,9,10,11",NaN,...,0,0.0,Android,2.7.1,2016-05-12 17:58:44.0,1,0,0,NaN,NaN

In [40]:
data_order.columns

Index(['Unnamed: 0', 'order_no', 'kitchen_id', 'user_id', 'city_id',
       'send_time', 'send_type', 'state', 'state_train', 'dishes',
       'refund_channel', 'comment', 'distance', 'user_longitude',
       'user_latitude', 'message', 'create_time', 'coupon_id', 'coupon_fee',
       'platform', 'app_version', 'update_time', 'insure', 'ticket_id',
       'ticket_fee', 'raw_data', 'dt'],
      dtype='object')

In [47]:
temp_order=data_order[['create_time','user_id']]

In [48]:
temp_order.head()

             create_time    user_id
0  2016-05-12 17:19:50.0  101296988
1  2016-05-12 17:19:51.0  101057772
2  2016-05-12 17:19:44.0  100789540
3  2016-05-12 17:19:31.0  101057084
4  2016-05-12 17:19:39.0  101370266

In [49]:
data_user.head()

,Unnamed: 0,user_id,city_id,sex,age,occupation,invite_id,invite_code,login_platform,last_login,app_version,create_time
0,0,100002020,0,1,80.0,互联网,0,9828.0,Android,2016-07-04 17:53:27.0,2.8.2,2014-09-25 08:43:55.0
1,3,100002023,0,2,80.0,公司员工,0,7262.0,iOS,2016-01-23 10:50:37.0,2.4.6,2014-09-25 11:32:21.0
2,4,100002024,0,1,90.0,程序员,0,5723.0,iOS,2017-03-07 18:16:19.0,3.3.0,2014-09-25 14:54:44.0
3,13,100002033,0,0,NaN,NaN,0,6126.0,iOS,2017-05-12 00:42:20.0,3.5.0,2014-09-25 23:55:48.0
4,14,100002034,0,0,NaN,NaN,0,6665.0,iOS,2015-12-21 18:01:17.0,2.4.2,2014-09-26 08:01:30.0

In [51]:
data_order.create_time.min()

'2016-04-04 00:00:14.0'

In [52]:
data_order.create_time.max()

'2016-06-26 23:59:45.0'

In [54]:
data_user.last_login.unique()

array(['2016-07-04 17:53:27.0', '2016-01-23 10:50:37.0',
       '2017-03-07 18:16:19.0', ..., '2016-06-26 23:49:08.0',
       '2016-06-26 23:49:20.0', '2016-06-26 23:51:42.0'], dtype=object)

In [55]:
data_coupon=pd.read_csv('coupon_AprToJun.csv')

/Applications/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (11,16,21,23,25,26,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
data_coupon.head()

,Unnamed: 0,coupon_id,type,from,user_id,purpose,money,worth_money,max_money,start_time,...,is_frozen,frozen_reason,rule_id,order_no,activity_id,activity_channel_id,risk_control_level,basics_id,pre_id,kitchen_charge_percentage
0,0,17224369,5,14,101249805,0,2.0,0.0,0.0,2016-05-12 00:00:00.0,...,0,NaN,415,NaN,0,0,0,0,0,0.0
1,1,17331977,1,33,101370879,0,8.0,0.0,0.0,2016-05-12 00:00:00.0,...,0,NaN,1078,NaN,0,0,0,0,764213,0.0
2,2,17331976,1,33,101370879,0,7.0,0.0,0.0,2016-05-12 00:00:00.0,...,0,NaN,1078,NaN,0,0,0,0,764212,0.0
3,3,17331975,1,33,101370879,0,15.0,0.0,0.0,2016-05-12 00:00:00.0,...,0,NaN,412,NaN,0,0,0,0,764211,0.0
4,4,17331974,1,54,100962744,0,5.0,0.0,25.0,2016-05-12 00:00:00.0,...,0,NaN,"412,2472",NaN,0,0,0,0,0,0.0

In [58]:
data_coupon.columns

Index(['Unnamed: 0', 'coupon_id', 'type', 'from', 'user_id', 'purpose',
       'money', 'worth_money', 'max_money', 'start_time', 'end_time',
       'use_time', 'create_time', 'update_time', 'is_used', 'has_rule', 'code',
       'is_del', 'special_id', 'reason', 'title', 'sub_title', 'content',
       'tag', 'is_frozen', 'frozen_reason', 'rule_id', 'order_no',
       'activity_id', 'activity_channel_id', 'risk_control_level', 'basics_id',
       'pre_id', 'kitchen_charge_percentage'],
      dtype='object')

In [60]:
data_user.head()

,Unnamed: 0,user_id,city_id,sex,age,occupation,invite_id,invite_code,login_platform,last_login,app_version,create_time
0,0,100002020,0,1,80.0,互联网,0,9828.0,Android,2016-07-04 17:53:27.0,2.8.2,2014-09-25 08:43:55.0
1,3,100002023,0,2,80.0,公司员工,0,7262.0,iOS,2016-01-23 10:50:37.0,2.4.6,2014-09-25 11:32:21.0
2,4,100002024,0,1,90.0,程序员,0,5723.0,iOS,2017-03-07 18:16:19.0,3.3.0,2014-09-25 14:54:44.0
3,13,100002033,0,0,NaN,NaN,0,6126.0,iOS,2017-05-12 00:42:20.0,3.5.0,2014-09-25 23:55:48.0
4,14,100002034,0,0,NaN,NaN,0,6665.0,iOS,2015-12-21 18:01:17.0,2.4.2,2014-09-26 08:01:30.0

In [61]:
data_user.iloc[:,9] =  pd.to_datetime(data_user['last_login'])

In [63]:
import time
inactive=[]
mintime=time.strptime('2016-04-04 00:00:14',"%Y-%m-%d %H:%M:%S")
maxtime=time.strptime('2016-06-26 23:59:45',"%Y-%m-%d %H:%M:%S")
for index, row in data_user.iterrows():
    if (row['last_login']<=mintime):
        inactive=1
    else:
        inactive=0

TypeError: Cannot compare type 'Timestamp' with type 'struct_time'

In [ ]:
data_user.inactive=inactive